power-automate-email_processing-1763281350241.json
{
  "name": "Email Parser with AI - NaviaFreight",
  "properties": {
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "type": "ApiConnectionNotification",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "fetch": {
              "method": "get",
              "pathTemplate": {
                "template": "/v3/Mail/OnNewEmail"
              },
              "queries": {
                "folderPath": "Inbox",
                "importance": "Any",
                "fetchOnlyWithAttachment": false,
                "includeAttachments": true
              }
            }
          }
        }
      },
      "actions": {
        "Initialize_CorrelationID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CorrelationID",
                "type": "string",
                "value": "@{guid()}"
              }
            ]
          }
        },
        "Compose_Clean_Email_Body": {
          "type": "Compose",
          "inputs": "@trim(triggerBody()?['body'])",
          "runAfter": {
            "Initialize_CorrelationID": [
              "Succeeded"
            ]
          }
        },
        "HTTP_Azure_OpenAI": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "YOUR_AZURE_OPENAI_ENDPOINT",
            "headers": {
              "Content-Type": "application/json",
              "api-key": "YOUR_API_KEY"
            },
            "body": {
              "messages": [
                {
                  "role": "system",
                  "content": "Extract: title, description, priority (High/Medium/Low), category. Return JSON only."
                },
                {
                  "role": "user",
                  "content": "@{outputs('Compose_Clean_Email_Body')}"
                }
              ],
              "temperature": 0.3,
              "max_tokens": 1000
            }
          },
          "runAfter": {
            "Compose_Clean_Email_Body": [
              "Succeeded"
            ]
          }
        },
        "Parse_AI_Response": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_Azure_OpenAI')?['choices'][0]['message']['content']",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "priority": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              }
            }
          },
          "runAfter": {
            "HTTP_Azure_OpenAI": [
              "Succeeded"
            ]
          }
        },
        "Create_SharePoint_Item": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent('YOUR_SITE')}/tables/@{encodeURIComponent('YOUR_LIST')}/items",
            "body": {
              "Title": "@body('Parse_AI_Response')?['title']",
              "Description": "@body('Parse_AI_Response')?['description']",
              "Priority": "@body('Parse_AI_Response')?['priority']",
              "Category": "@body('Parse_AI_Response')?['category']",
              "CorrelationID": "@variables('CorrelationID')"
            }
          },
          "runAfter": {
            "Parse_AI_Response": [
              "Succeeded"
            ]
          }
        },
        "Send_Confirmation_Email": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@triggerBody()?['from']",
              "Subject": "Task Created: @{body('Parse_AI_Response')?['title']}",
              "Body": "<p>Your request has been logged.<br><br><strong>Task ID:</strong> @{variables('CorrelationID')}<br><strong>Priority:</strong> @{body('Parse_AI_Response')?['priority']}</p>"
            }
          },
          "runAfter": {
            "Create_SharePoint_Item": [
              "Succeeded"
            ]
          }
        }
      }
    }
  }
}