power/BACKUP_Original_Export.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ec679c36-c2b8-4722-9cdc-af1a94d39d52"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"timestamp":{"type":"string"},"scopeDocument":{"type":"object","properties":{"title":{"type":"string"},"rawText":{"type":"string"}}},"analysis":{"type":"object"},"workflows":{"type":"object"},"actionItems":{"type":"array"},"metadata":{"type":"object"}}},"triggerAuthenticationType":"All"}}},"actions":{"Initialize_TeamID":{"runAfter":{},"metadata":{"operationMetadataId":"860ae38f-0f33-483c-a258-f5176f04e8de"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string","value":"6cdbd2a2-7e69-492e-ad7e-a617ed1c6597"}]}},"Initialize_PlanID":{"runAfter":{},"metadata":{"operationMetadataId":"6ea58981-da92-4902-a97d-3361877de9cb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PlanID","type":"string","value":"<UPDATE_PLAN_ID>"}]}},"Initialize_ActionItemsBucketID":{"runAfter":{},"metadata":{"operationMetadataId":"0ad5f7d3-177c-4422-b343-2bf58c122ac7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ActionItemsBucketID","type":"string","value":"<UPDATE_BUCKET_ID>"}]}},"Initialize_MissingInfoBucketID":{"runAfter":{},"metadata":{"operationMetadataId":"0c865def-8f0a-4202-b7a3-2458bf8e4dbd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MissingInfoBucketID","type":"string","value":"<UPDATE_BUCKET_ID>"}]}},"Initialize_ProjectTitle":{"runAfter":{},"metadata":{"operationMetadataId":"5c6de1d9-db5a-4b4f-82dd-dff6b33765c8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProjectTitle","type":"string","value":"@{triggerBody()?['scopeDocument']?['title']}"}]}},"Loop_Through_Action_Items":{"foreach":"@triggerBody()?['actionItems']","actions":{},"runAfter":{"Initialize_ProjectTitle":["Succeeded"],"Initialize_TeamID":["Succeeded"],"Initialize_PlanID":["Succeeded"],"Initialize_ActionItemsBucketID":["Succeeded"],"Initialize_MissingInfoBucketID":["Succeeded"]},"metadata":{"operationMetadataId":"c6690e12-9795-4623-9336-e524ad6876a1"},"type":"Foreach"},"Loop_Through_Missing_Information":{"foreach":"@triggerBody()?['analysis']?['missingInformation']","actions":{},"runAfter":{"Loop_Through_Action_Items":["Succeeded"]},"metadata":{"operationMetadataId":"c04a59f3-b8bd-44b7-9b55-0aee786dd984"},"type":"Foreach"},"Compose_Success_Response":{"runAfter":{"Loop_Through_Missing_Information":["Succeeded"]},"metadata":{"operationMetadataId":"0876e9f4-7e70-432f-b541-7fa8e6f7e92c"},"type":"Compose","inputs":{"status":"success","message":"Tasks created successfully","projectTitle":"@variables('ProjectTitle')","tasksCreated":{"actionItems":"@length(triggerBody()?['actionItems'])","missingInformation":"@length(triggerBody()?['analysis']?['missingInformation'])"},"timestamp":"@utcNow()"}},"Response_Success":{"runAfter":{"Compose_Success_Response":["Succeeded"]},"metadata":{"operationMetadataId":"e352484e-9905-4659-8f07-b5744b908634"},"type":"Response","inputs":{"statusCode":200,"headers":{"Content-Type":"application/json"},"body":"@outputs('Compose_Success_Response')"}},"Compose_Error_Response":{"runAfter":{"Loop_Through_Action_Items":["Failed","TimedOut"],"Loop_Through_Missing_Information":["Failed","TimedOut"]},"metadata":{"operationMetadataId":"95913882-5495-4965-8b6f-2ba65fc0c01e"},"type":"Compose","inputs":{"status":"error","message":"Failed to create tasks","error":"@{result('Loop_Through_Action_Items')}@{result('Loop_Through_Missing_Information')}","timestamp":"@utcNow()"}},"Response_Error":{"runAfter":{"Compose_Error_Response":["Succeeded"]},"metadata":{"operationMetadataId":"1dc3f5d8-c0db-497f-b371-546fcccedd85"},"type":"Response","inputs":{"statusCode":500,"headers":{"Content-Type":"application/json"},"body":"@outputs('Compose_Error_Response')"}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"operationOptions":"WithLargeNumberOfActions","collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-29F13B9E2E28484EBA5D971BBBFD79BA"}},"integrationAccount":{"name":"2131d362e12d44c1843ba1413d6b96a3-australiasoutheast","id":"subscriptions/default-2131d362-e12d-44c1-843b-a1413d6b96a3/resourceGroups/selfhostingresourcegroup/providers/Microsoft.Logic/integrationAccounts/2131d362e12d44c1843ba1413d6b96a3-australiasoutheast","type":"Microsoft.Logic/integrationAccounts"}}}]}